apiVersion: v1
kind: ServiceAccount
metadata:
  name: ${CLIENT_SERVICE_ACCOUNT_NAME}
  namespace: default
  annotations:
    iam.gke.io/gcp-service-account: ${PROJECT_NUM}-compute@developer.gserviceaccount.com
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${CLIENT_DEPLOYMENT_NAME}
  namespace: default
  labels:
    run: ${CLIENT_DEPLOYMENT_NAME}
spec:
  replicas: 1
  selector:
    matchLabels:
      run: ${CLIENT_DEPLOYMENT_NAME}
  template:
    metadata:
      annotations:
         security.cloud.google.com/use-workload-certificates: ""
      labels:
        run: ${CLIENT_DEPLOYMENT_NAME}
    spec:
      containers:
      - image: ${CLIENT_IMAGE}
        name: ${CLIENT_DEPLOYMENT_NAME}
        command:
        - sleep
        - 365d
        env:
        - name: GRPC_XDS_BOOTSTRAP
          value: "/tmp/grpc-xds/td-grpc-bootstrap.json"
        - name: GRPC_XDS_EXPERIMENTAL_SECURITY_SUPPORT
          value: "true"
        resources:
          limits:
            cpu: 800m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 512Mi
        volumeMounts:
        - name: grpc-td-conf
          mountPath: /tmp/grpc-xds/
      initContainers:
      - name: grpc-td-init
        image: gcr.io/trafficdirector-prod/td-grpc-bootstrap:0.12.0-rc1
        imagePullPolicy: Always
        args:
        - --output
        - "/tmp/bootstrap/td-grpc-bootstrap.json"
        - --include-psm-security-experimental
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 10m
            memory: 100Mi
        volumeMounts:
        - name: grpc-td-conf
          mountPath: /tmp/bootstrap/
      serviceAccountName: ${CLIENT_SERVICE_ACCOUNT_NAME}
      volumes:
      - name: grpc-td-conf
        emptyDir:
          medium: Memory

